<!-- templates/occurrenceType/subtype/modalSubtype.html.twig -->
<div class="modal fade" id="modalSubtype" tabindex="-1" role="dialog" aria-labelledby="modalSubtypeLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalSubtypeLabel">Cadastrar Funcionário</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="employeeForm">
          <div class="row">
            <!-- Coluna do Avatar -->
            <div class="col-md-3 text-center">
              <div class="form-group">
                <label for="employeeAvatar">Avatar</label>
                <div class="profile-picture mb-3">
                  <img id="avatarPreview" src="https://via.placeholder.com/150" alt="Avatar" class="img-thumbnail">
                  <input type="file" class="form-control-file mt-2" id="employeeAvatar" name="employeeAvatar" accept="image/*" onchange="previewAvatar()">
                </div>
              </div>
            </div>
            <!-- Colunas dos Campos -->
            <div class="col-md-9">
              <div class="row">
                <!-- Primeira Coluna -->
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="adminEmail">Email</label>
                    <input type="email" class="form-control" id="adminEmail" name="adminEmail" required>
                  </div>
                  <div class="form-group">
                    <label for="adminPassword">Senha</label>
                    <input type="password" class="form-control" id="adminPassword" name="adminPassword" required>
                  </div>
                  <div class="form-group">
                    <label for="adminRole">Role</label>
                    <select class="form-control" id="adminRole" name="adminRole" required>
                      <option value="ROLE_ADMIN">Admin</option>
                      <option value="ROLE_USER">User</option>
                      <!-- Adicione outras roles conforme necessário -->
                    </select>
                  </div>
                </div>
                <!-- Segunda Coluna -->
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="employeeName">Nome</label>
                    <input type="text" class="form-control" id="employeeName" name="employeeName" required>
                  </div>
                  <div class="form-group">
                    <label for="employeeCpf">CPF</label>
                    <input type="text" class="form-control" id="employeeCpf" name="employeeCpf" required>
                  </div>
                  <div class="form-group">
                    <label for="employeeRg">RG</label>
                    <input type="text" class="form-control" id="employeeRg" name="employeeRg" required>
                  </div>
                </div>
                <!-- Terceira Coluna -->
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="employeeHireDate">Data de Contratação</label>
                    <input type="date" class="form-control" id="employeeHireDate" name="employeeHireDate" required>
                  </div>
                  <div class="form-group">
                    <label for="employeePosition">Cargo</label>
                    <input type="text" class="form-control" id="employeePosition" name="employeePosition" required>
                  </div>
                  <div class="form-group">
                    <label for="employeeDepartment">Departamento</label>
                    <input type="text" class="form-control" id="employeeDepartment" name="employeeDepartment" required>
                  </div>
                </div>
                <!-- Quarta Coluna -->
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="employeePhone">Telefone</label>
                    <input type="text" class="form-control" id="employeePhone" name="employeePhone" required>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" onclick="submitEmployeeForm()">Cadastrar</button>
      </div>
    </div>
  </div>
</div>

<script>
function previewAvatar() {
    const file = document.getElementById('employeeAvatar').files[0];
    const reader = new FileReader();

    reader.onloadend = function() {
        document.getElementById('avatarPreview').src = reader.result;
    }

    if (file) {
        reader.readAsDataURL(file);
    } else {
        document.getElementById('avatarPreview').src = 'https://via.placeholder.com/150';
    }
}

function submitEmployeeForm() {
    var form = document.getElementById('employeeForm');
    if (form.checkValidity()) {
        // Adicione sua lógica de envio do formulário aqui (por exemplo, AJAX)
        alert('Formulário enviado com sucesso!');
        $('#modalEmployee').modal('hide');
    } else {
        form.reportValidity();
    }
}
</script>
