.logo {
    max-width: 200px; 
    height: auto; 
    margin: 20px 0;
}
.navbar {
    background-color: #343a40;
}
.navbar-nav .nav-item .nav-link {
    color: #ffffff;
}
.navbar-nav .nav-item .nav-link:hover {
    color: #adb5bd;
}

/* dropdown menus */
.dropdown-menu {
    background-color: #343a40;
}

.dropdown-menu .dropdown-left {
    left: -100%;
    top: 0;
    margin: 0;
    padding: 0;
    right: 100%;
}

.dropdown-menu .dropdown-item {
    color: #ffffff;
}
.dropdown-menu .dropdown-item:hover {
    background-color: #495057;
}
.content {
    padding: 20px;
}

.logged-in-user {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: left;
}

.dropdown-hover:hover .dropdown-menu {
    margin-top: 0; 
}

.dropdown-submenu:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none; /* Esconde o submenu por padrão */
}

.dropdown-menu.dropdown-hover:hover {
    display: block; /* Mostra o submenu ao passar o mouse */
}

.dropdown-toggle::after {
    display: none;
}

/* Footer de usuario e sair */
.logged-in-user-text,
.logged-in-user a {
    display: inline-block;
    vertical-align: middle;
}

.logged-in-user a {
    margin-left: 10px; 
}


#currentPageIndicator {
    color: #fff; /* Cor do texto */
    font-weight: bold; /* Texto em negrito */
}

