{% extends 'base.html.twig' %}

{% block title %}Página Inicial{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
    <h1>Bem-vindo à Página Inicial</h1>
    <p>Este é o conteúdo da página inicial do seu aplicativo Symfony.</p>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/home.js') }}"></script>
{% endblock %}
