{% extends 'layoutAdmin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/tableEmployee.css') }}">
{% endblock %}

{% block admin_content %}
{# {{ dump(occurrences) }} #}


<section class="content" data-page="CADASTRO DE FUNCIONÁRIOS">
    <!-- Filtros de Pesquisa -->
    <div class="filter-box collapse" id="filterSection">
        <div class="filter-content filter-controls employee-controls">
            <div class="row mb-4">
                <div class="col-md-3">
                    <label for="statusFilter">Status:</label>
                    <select id="statusFilter" class="form-control">
                        <option value="">Todos</option>
                        <option value="aberta">Abertas</option>
                        <option value="andamento">Em Andamento</option>
                        <option value="concluida">Concluídas</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="typeFilter">Tipo:</label>
                    <select id="typeFilter" class="form-control">
                        <option value="">Todos</option>
                        <option value="tipo1">Tipo 1</option>
                        <option value="tipo2">Tipo 2</option>
                        <option value="tipo3">Tipo 3</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="priorityFilter">Prioridade:</label>
                    <select id="priorityFilter" class="form-control">
                        <option value="">Todas</option>
                        <option value="baixa">Baixa</option>
                        <option value="media">Média</option>
                        <option value="alta">Alta</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="responsibleFilter">Responsável:</label>
                    <select id="responsibleFilter" class="form-control">
                        <option value="">Todos</option>
                        <option value="responsavel1">Responsável 1</option>
                        <option value="responsavel2">Responsável 2</option>
                        <option value="responsavel3">Responsável 3</option>
                    </select>
                </div>
            </div>
            <div class="row mb-4">               
                <div class="col-md-6">
                    <label for="occurredDateFilter">Data de Ocorrência:</label>
                    <input type="date" id="startOccurredDate" class="form-control mb-2" placeholder="Data Inicial">
                    <input type="date" id="endOccurredDate" class="form-control" placeholder="Data Final">
                </div>
                <div class="col-md-6">
                    <label for="slaDueDateFilter">SLA Vencimento:</label>
                    <input type="date" id="startSlaDueDate" class="form-control mb-2" placeholder="Data Inicial">
                    <input type="date" id="endSlaDueDate" class="form-control" placeholder="Data Final">
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button class="btn btn-danger" type="button" data-toggle="collapse" aria-expanded="false">
                    Limpar Filtro
                </button>
                <button class="btn btn-dark" type="button" data-toggle="collapse" aria-expanded="false">
                    Aplicar Filtro
                </button>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <!-- Botão de Filtros -->
        <div class="row mb-4">
            <div class="col-md-4">
                <input type="text" id="employeeSearch" class="form-control" placeholder="Pesquisar..." aria-controls="employeeTable">
            </div>
            <div class="col-md-4 text-left">
                {# Desabilitado enquanto não configuro os filtros #}
                {# <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#filterSection" aria-expanded="false" aria-controls="filterSection">
                    <i class="fas fa-filter fa-chevron-down"></i>
                </button> #}
            </div>
            <div class="col-md-4 text-right">
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modalEmployee">
                    Cadastrar Funcionário
                </button>
            </div>
        </div>

        <!-- Tabela de Ocorrências -->
        <div class="table-responsive tableEmployeeContainer">
            <table id="employeeTable" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                    <!-- Adicionado via javascript -->
                    </tr>
                </thead>
                <tbody>
                    <!-- Adicionado via javascript -->
                </tbody>
            </table>
        </div>
    </div>
</section>
    <!-- Incluir o modal cadastro funcionário -->
    {% include 'employee/modalEmployee.html.twig' %}
    <!-- Incluir o modal de exclusão -->
    {% include 'employee/modalDeleteEmployee.html.twig' %}

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
    var employeeTable;
    var employeeTableData = [
        {
            id: 1,
            name: "Vinicius",
            email: "vinicius@gmail.com",
            department: "Administrativo",
            phone: "51 98918-4949",
        },
        {
            id: 2,
            name: "Fernanda",
            email: "fernanda@gmail.com",
            department: "Administrativo",
            phone: "51 98999-5144",
        },
        {
            id: 3,
            name: "Carlos",
            email: "carlos@gmail.com",
            department: "Administrativo",
            phone: "Sem Registro",
        }
    ];

function setupEmployeeDataTable() {
    if ($.fn.DataTable.isDataTable('#employeeTable')) {
        $('#employeeTable').DataTable().clear().destroy();
    }

    employeeTable = $('#employeeTable').DataTable({
        searching: true,
        paging: false,
        info: false,
        data: employeeTableData,
        columns: [
            { data: 'id', title: 'ID', visible: false },
            { data: 'name', title: 'Nome' },
            { data: 'email', title: 'E-mail' },
            { data: 'department', title: 'Departamento' },
            { data: 'phone', title: 'Telefone' },
            { title: 'Ações' }
        ],
        columnDefs: [
            {
                targets: -1, // Última coluna (Ações)
                render: function (data, type, row, meta) {
                    var employeeId = row.id; 
                    return `
                        <button class="btn-action employee-edit" title="Editar" data-employee-id="${employeeId}" onclick="modalEmployee(${employeeId})"><i class="fa fa-pen"></i></button>
                        <button class="btn-action employee-delete" title="Deletar" data-employee-id="${employeeId}" onclick="showDeleteModal(${employeeId})"><i class="fa fa-trash"></i></button>
                    `;
                }
            }
        ],
        lengthChange: false,
        ordering: true,
        dom: 'lrtip',
        scrollX: true,
        fixedHeader: true,
        language: {
            zeroRecords: "Nenhum registro correspondente encontrado",
            emptyTable: "Nenhum dado disponível na tabela"
        }
    });

    adjustTable();
}

function adjustTable() {
    setTimeout(function() {
        employeeTable.columns.adjust().draw();
    }, 100);
}

    $(document).ready(function() {
        // Inicialização do DataTables
        setupEmployeeDataTable();

        // Filtro de pesquisa personalizado
        $('#employeeSearch').on('keyup', function() {
            employeeTable.search(this.value).draw();
        });

        // Exibição dos filtros ao clicar no botão
        $('#filterSection').on('shown.bs.collapse', function () {
            $('.btn-filter').addClass('active'); // Adiciona classe de destaque ao botão de filtro
            $('.filter-box').slideDown(); // Animação de slide para exibir os filtros
        });

        // Ocultação dos filtros ao fechar o modal
        $('#filterSection').on('hidden.bs.collapse', function () {
            $('.btn-filter').removeClass('active'); // Remove classe de destaque ao fechar os filtros
            $('.filter-box').slideUp(); // Animação de slide para ocultar os filtros
        });
    });
</script>
{% endblock %}
