{% extends 'base.html.twig' %}

{% block title %}Admin Panel{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}

{% block body %}
    <div class="container text-center">
        <img src="{{ asset('images/logo_canoas.png') }}" alt="Logo Prefeitura" class="logo">
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark justify-content-end">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ml-auto" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ocorrências</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownGestores" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Cadastro
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownGestores">
                            <a class="dropdown-item" href="#">Gestores</a>
                            <a class="dropdown-item" href="#">Outros Cadastros</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRelatorios" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Relatórios
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownRelatorios">
                            <a class="dropdown-item" href="#">Relatório 1</a>
                            <a class="dropdown-item" href="#">Relatório 2</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Personalizar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid content">
        {% block admin_content %}{% endblock %}
    </div>
{% endblock %}
